@model List<MyCookBookApp.Models.Recipe>
<div class="container mt-5">
 <h1 class="display-4 text-center mb-4">Welcome to MyCookBook</h1>
 <div class="row">
 <div class="col-md-8 offset-md-2">
 <ul class="list-group">
 @if (Model != null && Model.Any())
 {
 @foreach (var recipe in Model)
 {
 <li class="list-group-item">@recipe.name</li>
 }
 }
 </ul>
 </div>
 </div>
</div>